@import"public","common","reset";
.header_t{
    background: #fff;
    .heat{
        border-bottom:1px solid #d5d5d5;
        .main{
            @include fle();
            justify-content: start;
            img{
                display: block;
                margin-right: 40px;
            }
            p{
                font-size: 24px;
                padding:0px 20px;
                border-left: 1px solid #999;
            }
        }
    }
}
header{ .stop{ .list{li{button:hover { color:#fff;} } }}}
section{
    min-height: 700px;
    form{
        width:600px;
        margin:0 auto;
        padding:60px 200px;
        input{
            width:320px;
            height:36px;
            background: #ffffff;
            border: 1px solid #dedede;
            text-indent: 10px;
            line-height: 38px;
            color: #333333;
            margin-left: 10px;
        }
        .rt{
            width:16px;
            height:16px;
            margin-right: 180px;
            padding-top:10px;
        }
        button{
            width:320px;
            height: 44px;
            line-height: 44px;
            margin-left: 80px;
            margin-top: 50px;
            font-size: 16px;
            background: #f12020;
            color: #ffffff;
        }
        p{
            height: 40px;
            text-indent: 75px;
            line-height: 40px;
            color:#f12020;
            a{
                color:#f12020;
                cursor: pointer;
            }
        }
        .pas{
            color: #bababa;
        }
        div{
            height: 40px;
            text-indent: 75px;
            line-height: 40px;
            a{
                color:#f12020;
                cursor: pointer;
            }
        }
        .dl{
            a{
                display: block;
                margin-left: 80px;
            }
        }
        .tyz{
            width:170px;
            margin-right: 5px;
        }
        .tk{
            .cek{
            width:12px;
            height:12px;
            }
            margin-bottom: 20;
        }
        .yz{
            display: inline-block;
            height:36px;
            width:80px;
            color: #000;
            vertical-align: middle;
            background: #ccc;
            text-align: center;
            line-height: 38px;
        }
        .tab{
            display: inline-block;
            height:36px;
            width:50px;
            cursor: pointer;
            vertical-align: middle;
        }
    }
}